---
layout: default
page_id: 'list-page'
namespace: list_page
page_title: 'Crowdlaw'
regions:
  - NA
  - SA
  - EU
  - AS
  - AF
  - OC
levels:
  - National
  - Regional
  - Local
engagement_types:
  - Ideas
  - Expertise
  - Opinions
  - Actions
  - Evidence
progress_stages:
  - Problem
  - Solution
  - Drafting
  - Decision
  - Implementation
  - Assessment
---

<div class="list-page">

  <div class="top-section top-section--od500-header top-section--main-color top-section--map list-page__header">
    <div class="top-section--title"><img src="{{ 'img/crowdlawlogo.svg' | relative_url }}"></div>
    <h3>Catalog</h3>
    <div class="map-wrapper">
      <div id="map"></div>
    </div>
  </div>

  <div class="table-dropdown page-section">
    <div class="filters mobile-filters">
      <h4>Filters</h4>

      <div class="dropdown-wrapper">
        <div class="row dropdown large-unstack">

          <div class="columns table-dropdown__item company__federal-sources">
            <div class="select" id=''>
              <select data-filter="region" id="region-mobile" class="dropdown-content">
                <option id="all">Region</option>
                {% for item in page.regions%}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="columns table-dropdown__item company__provincial-sources">
            <div class="select">
              <select data-filter='level' id="level-mobile" class="dropdown-content">
                <option id="all">Implementation Level</option>
                {% for item in page.levels %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="columns table-dropdown__item company__other-sources">
            <div class="select">
              <select data-filter='engagement' id="engagement-mobile" class="dropdown-content">
                <option id="all">Type of Engagement</option>
                {% for item in page.engagement_types %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="columns table-dropdown__item company__data-sectors">
            <div class="select">
              <select data-filter='prog' id="prog-mobile" class="dropdown-content">
                <option id="all">Stage</option>
                {% for item in page.progress_stages %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="close clear_filters table-sortable__control table-sortable__control--simple"><i class="material-icons">close</i>
          </div>
        </div>

      </div>
    </div>

    <div class="row align-center">
      <div class="column small-6 button clear_filters">
        Clear Filters
      </div>
    </div>

    <div class="filters">
      <table class="filter-headings">
        <thead class="">
          <th class="" style="width: 2%">&nbsp;</th>
          <th class="" style="width: auto"><span class="filter-label">Filter :</span></th>
          <th class="" style="width: 10%">&nbsp;</th>
          <th class="table-dropdown__item" style="width: 8%">
            <div class="select">
              <select data-filter="region" id="region" class="dropdown-content">
                <option id="all">---</option>
                {% for item in page.regions%}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </th>
          <th class="table-dropdown__item" style="width: 8%">
            <div class="select">
              <select data-filter='level' id="level" class="dropdown-content">
                <option id="all">---</option>
                {% for item in page.levels %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </th>

          <th class="header--hide-responsive" style="width: auto">&nbsp;</th>

          <th class="table-dropdown__item" style="width: 12%">
            <div class="select">
              <select data-filter='engagement' id="engagement" class="dropdown-content">
                <option id="all">---</option>
                {% for item in page.engagement_types %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </th>

          <th class="table-dropdown__item" style="width: 18%; padding-right: 7px;">
            <div class="select" style="">
              <select data-filter='prog' id="prog" class="dropdown-content">
                <option id="all">---</option>
                {% for item in page.progress_stages %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </th>

          <th class="" style="width: 3%">
            <div class="close clear_filters table-sortable__control table-sortable__control--simple" id="clear-filters-button" title="Clear All Filters"><i class="material-icons">close</i>
            </div>
          </th>
          <th class="" style="width: 0%">&nbsp;</th>
        </thead>
      </table>
    </div>

  </div>


  <div id="company_data">

    <table class="table-sortable table-sortable--main-color">

      <thead class="company">
        <th class="table-sortable__head-cell" style="width: 2%">&nbsp;</th>
        <th class="table-sortable__head-cell header__name" style="width: auto">
          <span>Name</span>

          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple js-open-table-search" data-target="#search--input"><i class="material-icons">search</i></span>
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="name"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
          <form class="table-sortable__search ">
            <input id="search--input" class="fuzzy-search" type="text" placeholder="Filter by text">
            <button type="submit" class=""><i class="material-icons">close</i></button>
          </form>
        </th>

        <th class="table-sortable__head-cell header__country" style="width: 10%">
          <span>Country</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort sort--hide-responsive" data-sort="country"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell header__region" style="width: 8%">
          <span>Region</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort sort--hide-responsive" data-sort="region"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell header__level" style="width: 8%">
          <span>Level</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort sort--hide-responsive" data-sort="level"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell header__organization" style="width: auto">
          <span>Organization Info</span>
        </th>

        <th class="table-sortable__head-cell header__engagement" style="width: 12%">
          <span>Engagement</span>
        </th>

        <th class="table-sortable__head-cell header__prog" style="width: 18%">
          <span>Stage</span>
        </th>


        <th class="table-sortable__head-cell header__url" style="width: 3%">
          <span><i class="material-icons">open_in_new</i></span>
        </th>
        <th class="table-sortable__head-cell" style="width: 0%">&nbsp;</th>
      </thead>
      <tbody class="list">
        {% assign list = site.data.contentful.spaces.entries.entry | sort: 'name' %}
        {% for i in list %}
        <tr class="entry" id="entry-{{i.sys.id}}" >

          <td class="filter" data-location=""></td>
          <td class="name data js-open-modal" data-modal="{{i.sys.id}}" data-target="all {{i.name | slugify}}">{{i.name}}</td>
          <td class="country data js-open-modal" data-modal="{{i.sys.id}}" data-target="all {{i.country | slugify}}">{{i.country}}</td>
          <td class="region data js-open-modal" data-modal="{{i.sys.id}}" data-target="all {{i.region | slugify}}">{{i.region}}</td>
          <td class="level data js-open-modal" data-modal="{{i.sys.id}}" data-target="all {{i.implementation_level | slugify}}">{{i.implementation_level | capitalize}}</td>
          <td class="organization data js-open-modal" data-modal="{{i.sys.id}}" data-target="all">{{i.organization}}</td>
          <td class="engagement tags js-open-modal" data-modal="{{i.sys.id}}" data-target="all {{i.type_of_engagement | join: ' ' | downcase }}">
            {% for d in i.type_of_engagement %}
            <span class="tag tag__type tag__type--{{d | slugify}}">{{ d | slice: 0 }}</span>
            {% endfor %}
          </td>
          <td class="prog tags js-open-modal" data-modal="{{i.sys.id}}" data-target="all {{i.implementation_progress | join: ' ' | downcase }}">
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Problem' %}tag__progress--active{% endif %}{% endfor %}">P</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Solution' %}tag__progress--active{% endif %}{% endfor %}">S</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Drafting' %}tag__progress--active{% endif %}{% endfor %}">D</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Decision' %}tag__progress--active{% endif %}{% endfor %}">D</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Implementation' %}tag__progress--active{% endif %}{% endfor %}">I</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Assessment' %}tag__progress--active{% endif %}{% endfor %}">A</span>
          </td>
          <td class="url icon" data-target="all"><a class="company-name" href="{{i.url}}" target="_blank" title="Go to Website"><i class="material-icons">open_in_new</i></a></td>

          <td>&nbsp;</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>

{% for i in site.data.contentful.spaces.entries.entry %}
<div class="modal modal--catalog-entry js-target-modal" id="modal-{{i.sys.id}}">

  <span class="modal__close js-close-modal"><i class="material-icons">close</i></span>
    <div class="modal__image" style="background: center / contain no-repeat url({{i.image.url}});">&nbsp;</div>
    <h1 class="modal__name">{{i.name}}</h1>
    <br>
    <h2 class="modal__location">{{i.country}}, {{i.region}}</h2>

    <div class="row expanded">
      <div class="large-6 small-12 columns" style="padding-left: 0">
        <div class="result-item__short-description modal__description">
          <div class="modal__description__scroll">{{ i.description | markdownify }}</div>
          <a class="button modal__button button--black" target="_blank" href="{{i.url}}" title="">More Information <i class="material-icons">open_in_new</i></a>
        </div>
      </div>
      <div class="large-6 small-12 columns modal__meta-container" style="padding-right: 0">
        <div class="row expanded">
          <div class="large-12 columns modal__meta modal__meta--left"><b class="modal__meta-header">Organization Information</b> <span class="modal__meta-content">{{i.organization}}</span></div>
        </div>
        <div class="row expanded">
          <div class="large-6 columns modal__meta modal__meta--half"><b class="modal__meta-header">Implementation Level</b> <span class="modal__meta-content">{{i.implementation_level}}</span></div>
          <div class="large-6 columns modal__meta modal__meta--half"><b class="modal__meta-header">Stage of Lawmaking Process</b>
          <span class="modal__meta-content">
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Problem' %}tag__progress--active{% endif %}{% endfor %}">Problem</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Solution' %}tag__progress--active{% endif %}{% endfor %}">Solution</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Drafting' %}tag__progress--active{% endif %}{% endfor %}">Drafting</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Decision' %}tag__progress--active{% endif %}{% endfor %}">Decision</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Implementation' %}tag__progress--active{% endif %}{% endfor %}">Implementation</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Assessment' %}tag__progress--active{% endif %}{% endfor %}">Assessment</span>
          </span></div>
        </div>
        <div class="row expanded">
          <div class="large-6 columns modal__meta modal__meta--half modal__meta--right"><b class="modal__meta-header">Types of Engagement</b>
            <span class="modal__meta-content">
              {% for d in i.type_of_engagement %}
              <span class="tag tag__type tag__type--{{d | slugify}}">{{ d }}</span>
              {% endfor %}
            </span>
          </div>
          <div class="large-6 columns modal__meta modal__meta--half modal__meta--right"><b class="modal__meta-header">Available Platforms</b> <span class="modal__meta-content">
            {% for d in i.platforms %}
            <span class="tag tag__type tag__type--{{d | slugify}}" title="{{d}}"><i class="modal__meta-content__icon material-icons">{{ d | slugify | replace: 'web', 'language' | replace: 'mobile', 'phone_android' | replace: 'offline', 'place'}}</i></span>
            {% endfor %}
          </span></div>
        </div>
      </div>
    </div>

</div>
{% endfor %}

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/d3-geo.v1.min.js"></script>
<script src="https://d3js.org/d3-queue.v3.min.js"></script>
<script src="./js/map.js"></script>
