---
layout: default
page_id: 'list-page'
namespace: list_page
page_title: 'Crowdlaw'
regions:
  - US
  - EU
levels:
  - National
  - Regional
  - Local
engagement_types:
  - Ideas
  - Opinions
  - Actions
  - Expertise
progress_stages:
  - Problem
  - Solution
  - Assessment
  - Drafting
  - Implementation
---

<div class="list-page">

  <div class="top-section top-section--od500-header top-section--main-color top-section--map list-page__header">
    <div class="top-section--title"><img src="{{ 'img/crowdlawlogo.svg' | relative_url }}"></div>
    <h3>Catalog</h3>
    <div class="map-wrapper">
      <div id="map"></div>
    </div>
  </div>

  <div class="table-dropdown page-section">
    <div class="mobile-filters">
      <h4>Filters</h4>

      <div class="dropdown-wrapper">
        <div class="row dropdown large-unstack">

          <div class="columns table-dropdown__item company__federal-sources">
            <div class="select" id=''>
              <select data-filter="company__federal-sources" id="table-dropdown__federal-sources" class="dropdown-content">
                <option id="all">Region</option>
                {% for item in page.federal_sources%}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="columns table-dropdown__item company__provincial-sources">
            <div class="select">
              <select data-filter='company__provincial-sources' id="table-dropdown__provincial-sources" class="dropdown-content">
                <option id="all">Implementation Level</option>
                {% for item in page.provincial_sources %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="columns table-dropdown__item company__other-sources">
            <div class="select">
              <select data-filter='company__data-sources' id="table-dropdown__other-sources" class="dropdown-content">
                <option id="all">Type of Engagement</option>
                {% for item in page.other_sources %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="columns table-dropdown__item company__data-sectors">
            <div class="select">
              <select data-filter='company__data-sectors' id="table-dropdown__data-sectors" class="dropdown-content">
                <option id="all">Progress</option>
                {% for item in page.data_sectors %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="close clear_filters table-sortable__control table-sortable__control--simple"><i class="material-icons">close</i>
          </div>
        </div>

      </div>
    </div>

    <div class="row align-center">
      <div class="column small-6 button clear_filters">
        Clear Filters
      </div>
    </div>

    <div class="filters">
      <table class="filter-headings">
        <thead class="">
          <th class="" style="width: 2%">&nbsp;</th>
          <th class="" style="width: auto"><span class="filter-label">Filter :</span></th>
          <th class="" style="width: 10%">&nbsp;</th>
          <th class="table-dropdown__item" style="width: 8%">
            <div class="select">
              <select data-filter="company__federal-sources" id="table-dropdown__federal-sources" class="dropdown-content">
                <option id="all">---</option>
                {% for item in page.regions%}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </th>
          <th class="table-dropdown__item" style="width: 8%">
            <div class="select">
              <select data-filter='company__provincial-sources' id="table-dropdown__provincial-sources" class="dropdown-content">
                <option id="all">---</option>
                {% for item in page.levels %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </th>

          <th class="" style="width: auto">&nbsp;</th>

          <th class="table-dropdown__item" style="width: 12%">
            <div class="select">
              <select data-filter='company__data-sources' id="table-dropdown__other-sources" class="dropdown-content">
                <option id="all">---</option>
                {% for item in page.engagement_types %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </th>

          <th class="table-dropdown__item" style="width: 18%; padding-right: 7px;">
            <div class="select" style="">
              <select data-filter='company__data-sectors' id="table-dropdown__data-sectors" class="dropdown-content">
                <option id="all">---</option>
                {% for item in page.progress_stages %}
                <option id="{{ item | slugify }}">{{item}}</option>
                {% endfor %}
              </select>
            </div>
          </th>

          <th class="" style="width: 3%">&nbsp;</th>
          <th class="" style="width: 0%">&nbsp;</th>
        </thead>
      </table>
    </div>

  </div>


  <div id="company_data">

    <table class="table-sortable table-sortable--main-color">

      <thead class="company">
        <th class="table-sortable__head-cell" style="width: 2%">&nbsp;</th>
        <th class="table-sortable__head-cell company__name" style="width: auto">
          <span>Name</span>

          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple js-open-table-search" data-target="#company__name--input"><i class="material-icons">search</i></span>
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="company__name"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
          <form class="table-sortable__search ">
            <input id="company__name--input" class="fuzzy-search" type="text" placeholder="Filter by text">
            <button type="submit" class=""><i class="material-icons">close</i></button>
          </form>
        </th>

        <th class="table-sortable__head-cell company__category" style="width: 10%">
          <span>Country</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="company__category"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell company__founded" style="width: 8%">
          <span>Region</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="company__founded"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell company__founded" style="width: 8%">
          <span>Level</span>
          <div class="table-sortable__control-group">
            <span class="table-sortable__control table-sortable__control--simple sort" data-sort="company__founded"><i class="material-icons">keyboard_arrow_down</i></span>
          </div>
        </th>

        <th class="table-sortable__head-cell company__founded" style="width: auto">
          <span>Organization Info</span>
        </th>

        <th class="table-sortable__head-cell company__founded" style="width: 12%">
          <span>Engagement</span>
        </th>

        <th class="table-sortable__head-cell company__founded" style="width: 18%">
          <span>Progress</span>
        </th>


        <th class="table-sortable__head-cell company__location" style="width: 3%">
          <span><i class="material-icons">open_in_new</i></span>
        </th>
        <th class="table-sortable__head-cell" style="width: 0%">&nbsp;</th>
      </thead>
      <tbody class="list">
        {% for i in site.data.contentful.spaces.entries.entry %}
        <tr class="entry" id="entry-{{i.sys.id}}" >

          <td class="filter" data-location=""></td>
          <td class="data js-open-modal" data-modal="{{i.sys.id}}" data-target="{{i.name}}">{{i.name}}</td>
          <td class="data js-open-modal" data-modal="{{i.sys.id}}" data-target="{{i.country}}">{{i.country}}</td>
          <td class="data js-open-modal" data-modal="{{i.sys.id}}" data-target="{{i.region}}">{{i.region}}</td>
          <td class="data js-open-modal" data-modal="{{i.sys.id}}" data-target="{{i.implementation_level}}">{{i.implementation_level | capitalize}}</td>
          <td class="data js-open-modal" data-modal="{{i.sys.id}}" data-target="{{i.organization}}">{{i.organization}}</td>
          <td class="tags js-open-modal" data-modal="{{i.sys.id}}" data-target="{{i.type_of_engagement | split: ' '}}">
            {% for d in i.type_of_engagement %}
            <span class="tag tag__type tag__type--{{d | slugify}}">{{ d | slice: 0 }}</span>
            {% endfor %}
          </td>
          <td class="tags js-open-modal" data-modal="{{i.sys.id}}" data-target="{{i.implementation_progress | split: ' '}}">
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Problem' %}tag__progress--active{% endif %}{% endfor %}">P</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Solution' %}tag__progress--active{% endif %}{% endfor %}">S</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Drafting' %}tag__progress--active{% endif %}{% endfor %}">D</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Decision' %}tag__progress--active{% endif %}{% endfor %}">D</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Implementation' %}tag__progress--active{% endif %}{% endfor %}">I</span>
            <span class="tag tag__progress {% for d in i.implementation_progress %}{% if d == 'Assessment' %}tag__progress--active{% endif %}{% endfor %}">A</span>
          </td>
          <td class="icon" data-target="{{i.url}}"><a class="company-name" href="{{i.url}}" target="_blank"><i class="material-icons">open_in_new</i></a></td>

          <td>&nbsp;</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>

{% for i in site.data.contentful.spaces.entries.entry %}
<div class="modal js-target-modal" id="modal-{{i.sys.id}}">
  <header class="modal__header modal--top-section">

    <span class="modal__close js-close-modal"><i class="material-icons">close</i></span>
    <h1 class="modal__title">{{i.name}}</h1>
    <h2 class="modal__authors">{{i.country}}, {{i.region}}</h2>

    <div class="floating-button">
      <div class="floating-button__wrapper">
        <a class="button button--floating button--black" target="_blank" href="{{i.url}}" title="">Website</a>
      </div>
    </div>
  </header>

  <div class="modal__content">
    <div class="result-item__short-description">
      <p>{{i.description}}</p>
    </div>
    <div class="result-item__short-description">
      <p>{{i.organization}}</p>
    </div>
    <p>{{i.implementation_level}}</p>
    <p>{{i.implementation_progress}}</p>
    <p>{{i.type_of_engagement}}</p>
    <p>{{i.platforms}}</p>
    <p><img src="{{i.image.url}}" title="{{i.image.title}}"></p>
  </div>
</div>
{% endfor %}

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/d3-geo.v1.min.js"></script>
<script src="https://d3js.org/d3-queue.v3.min.js"></script>
<script src="./js/map.js"></script>
