#list-page > div.modal.modal--catalog-entry.js-target-modal {
    display: none;
    background: #fff;
    position: fixed;
    top: 50px;
    width: 90%;
    left: 5%;
    margin: unset;
    box-shadow: unset;
    z-index: 11;
}